:root{
  --darkbrown:#210f04;
  --brown:#452103;
  --red:#690500;
  --lightbrown:#934b00;
  --livedog:#bb6b00;
  --dgreen:#004b23;
  --green:#143601;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.navbar{
  background-color: wheat;
}
svg{
  width: 100px;
  height: 50px;
}
.logo svg{ 
  width: 800px;
  height: 700px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: brand 3s 1;  
  z-index: 2;
  opacity: 0;
}
@keyframes brand{
  0%{
    opacity: 1;
  }
  100%{
    width: 100px;
    height: 50px;
    top:10%;
    left: 10%;
    opacity: 0;
  }
}
.container-fluid{
  font-size: 20px;
}
.navbar-brand{
  margin-left: 30px;
}
.navbar-collapse{
  margin-left: 40vw;
}
.main-page{
  margin-top: 75px;
  background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(./assets/mixture.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
  position: relative;
}
.main-title{
  color: var(--lightbrown);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.main-title h2{
  font-size: 100px;

}
.main-title p{
  font-size: 30px;
}
.item-details{
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: double black 5px;
  position: relative;
  opacity: 0;
  transition: all 2s ease;
  overflow: hidden;
}
.item-details:nth-child(even){
  transform: translateX(500px);
}
.item-details:nth-child(odd){
  transform: translateX(-500px);
}
.item-details.active{
  transform: translateX(0px);
  opacity: 1;
}
.item-details img{
  width: 400px;
  height: 600px;
}
.item-info{
  font-size: 20px;
  padding: 20px;
}
p.name{
  font-size: 40px;
}
p.name{
  font-size: 40px;
}