@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans&family=Pacifico&family=Sacramento&family=Satisfy&display=swap');
:root{
  --brown:#522500;
  --lgbrown:#ffd1ad;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Josefin Sans', sans-serif;
  color: var(--brown);
  background-color: var(--lgbrown);
}
p.main-title{
  margin-top: 150px;
  margin-left: 70px;
  position: relative;
  text-align: start;
  font-size: 60px;
  font-family: 'Sacramento', cursive;
}
p.main-title::before{
  position: absolute;
  content: "";
  width: 30%;
  transition-duration: 2s;
  height: 5px;
  top: 90px;
  background-color: var(--brown);
}
p.main-title:hover::before{
  width: 50%;
}
.navbar{
  background-color: var(--brown);
}
.navbar a{
  color: var(--lgbrown);
  transition-duration: 1s;
  margin-right: 10px;
}
.navbar a:hover{
  background-color: var(--lgbrown);
  color: var(--brown);
}
svg{
  width: 100px;
  height: 50px;
  padding: 10px;
}
.container-fluid .navbar-brand:hover{
  background-color: var(--brown);
}
.dropdown-menu{
  background-color: var(--brown);
}
.logo svg{ 
  width: 800px;
  height: 700px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: brand 3s 1;  
  z-index: 2;
  opacity: 0;
}
@keyframes brand{
  0%{
    opacity: 1;
  }
  100%{
    width: 100px;
    height: 50px;
    top:10%;
    left: 10%;
    opacity: 0;
  }
}
.container-fluid{
  font-size: 20px;
}
.navbar-brand{
  margin-left: 30px;
}
.navbar-collapse{
  margin-left: 35vw;
}
.main-page{
  margin-top: 75px;
  background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(./assets/mixture.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
  position: relative;
}
.main-title{
  color: var(--lightbrown);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.main-title h2{
  font-size: 100px;
  /* font-family: 'Great Vibes', cursive; */
  font-family: 'Pacifico', cursive;
  text-shadow: 3px 3px 5px var(--lgbrown);
/* font-family: 'Sacramento', cursive; */
/* font-family: 'Satisfy', cursive; */
}
.main-title p{
  font-size: 30px;
  color: var(--lgbrown);
}
.item-details{
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: double black 5px;
  position: relative;
  opacity: 0;
  transition: all 2s ease;
  overflow: hidden;
}
.item-details:nth-child(even){
  transform: translateX(500px);
}
.item-details:nth-child(odd){
  transform: translateX(-500px);
}
.item-details.active{
  transform: translateX(0px);
  opacity: 1;
}
.item-details img{
  width: 400px;
  height: 600px;
}
.item-info{
  font-size: 20px;
  padding: 20px;
}
p.name{
  font-size: 40px;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 1px;
}
p.name{
  font-size: 40px;
}
.order ul{
  list-style-type: none;
  font-size: 50px;
  text-align: center;
}
.order li{
  padding: 30px;
}
.order a{
  text-decoration: none;
  padding: 30px;
  color: var(--brown);
  transition-duration: 2s;
}
.order a:hover{
  background-color: var(--brown);
  color: var(--lgbrown);
}
#about .about-text{
  padding: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: justify;
  font-size: 20px;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}
.cardd{
  width: 350px;
  text-align: center;
  height: 200px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  border-radius: 20px;
  margin: 20px;
  background-color: var(--brown); 
  color: var(--lgbrown);
  position: relative;
  opacity: 0;
  transition: all 2s ease;
  overflow: hidden;
  transform: translateY(100px);
}
.cardd:nth-child(4){
  width: 1000px;
  height: 200px;
}
.cardd.active{
  transform: translateY(0px);
  opacity: 1;
}